 .u-section-1 {
  min-height: 663px;
}

.u-section-1 .u-text-1 {
  margin: 30px auto 60px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 663px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 0 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  line-height: 1.6;
  margin: 30px 0 0 auto;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 1.375rem;
  --top-left-radius: 50px;
  --bottom-left-radius: 50px;
  --bottom-right-radius: 8px;
  --top-right-radius: 8px;
  margin: 30px 0 0 auto;
  padding: 10px 40px 10px 39px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 663px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  height: 526px;
  object-position: 50% 0%;
  width: 661px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 69px auto 0;
}

@media (max-width: 1399px) {
   .u-section-1 {
    background-position: 0% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 595px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -595px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 595px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 17px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 595px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-1 {
    height: 499px;
    width: 627px;
  }
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 535px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -568px;
    margin-bottom: 49px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 473px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 57px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 499px;
  }

  .u-section-1 .u-image-1 {
    height: 411px;
    width: 517px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 410px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -701px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 382px;
  }

  .u-section-1 .u-image-1 {
    height: 315px;
    width: 396px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1276px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -65px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 573px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 50% 100%;
    min-height: 915px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -927px;
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 17px;
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 496px;
    order: 1;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 43px;
    margin-left: 60px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    line-height: 2.1;
    margin-top: 31px;
  }

  .u-section-1 .u-btn-1 {
    padding: 14px 49px 14px 48px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 402px;
    order: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-1 .u-image-1 {
    height: 361px;
    width: 430px;
    margin-right: 0;
    margin-bottom: -30px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 532px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.625rem;
  margin: 30px auto 60px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 472px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 209px;
  height: 146px;
  margin: 326px auto 0 0;
}

.u-section-2 .u-image-2 {
  width: 489px;
  height: 439px;
  --top-left-radius: 50px;
  --bottom-left-radius: 50px;
  --bottom-right-radius: 8px;
  --top-right-radius: 8px;
  margin: -472px auto 0 39px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 468px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0 0 0 auto;
}

.u-section-2 .u-text-3 {
  line-height: 1.4;
  font-size: 1.5rem;
  margin: 28px 0 0 auto;
}

@media (max-width: 1399px) {
  .u-section-2 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: -5187px;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 455px;
  }

  .u-section-2 .u-image-1 {
    width: 227px;
    height: 159px;
    margin-top: 296px;
  }

  .u-section-2 .u-image-2 {
    width: 462px;
    height: 416px;
    margin-top: -455px;
    margin-left: 42px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 455px;
  }
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 6040px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 1337px;
  }

  .u-section-2 .u-image-1 {
    width: 50px;
    margin-top: 1178px;
  }

  .u-section-2 .u-image-2 {
    width: 50px;
    margin-top: -696px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 375px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 5901px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 1497px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 1338px;
  }

  .u-section-2 .u-image-2 {
    height: 324px;
    margin-top: -788px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 6794px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 1802px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 1643px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 708px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    font-size: 1.375rem;
    margin-top: 16px;
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-bottom: -3874px;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 317px;
  }

  .u-section-2 .u-image-1 {
    width: 201px;
    height: 141px;
    margin-top: 11px;
  }

  .u-section-2 .u-image-2 {
    height: 290px;
    width: 324px;
    margin: -301px 0 11px auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 313px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 274px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 48px auto 0;
}

.u-section-3 .u-text-2 {
  width: 896px;
  font-size: 1.5rem;
  line-height: 1.4;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 24px auto 48px;
}

@media (max-width: 1399px) {
  .u-section-3 .u-sheet-1 {
    min-height: 258px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -62px;
  }

  .u-section-3 .u-text-2 {
    margin-bottom: -62px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 259px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 41px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
    width: auto;
    line-height: 1.6;
    margin: 23px -6px 41px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 579px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 48px auto 0;
}

.u-section-4 .u-list-1 {
  width: 1133px;
  margin: 60px auto;
}

.u-section-4 .u-repeater-1 {
  --gap: 32px;
  grid-auto-columns: calc(50% - 16px);
  grid-template-columns: repeat(2, calc(50% - 16px));
  min-height: 358px;
}

.u-section-4 .u-list-item-1 {
  box-shadow: 0px 0px 40px 0px rgba(128,128,128,0.1);
  --top-left-radius: 32px;
  --bottom-left-radius: 32px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 10px 21px 9px;
}

.u-section-4 .u-icon-1 {
  width: 40px;
  height: 40px;
  margin: 20px 0 0 auto;
  padding: 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: -42px 81px 0 auto;
}

.u-section-4 .u-list-item-2 {
  box-shadow: 0px 0px 40px 0px rgba(128,128,128,0.1);
  --top-left-radius: 32px;
  --bottom-left-radius: 32px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 10px 21px 9px;
}

.u-section-4 .u-icon-2 {
  width: 40px;
  height: 40px;
  margin: 20px 0 0 auto;
  padding: 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: -42px 81px 0 auto;
}

.u-section-4 .u-list-item-3 {
  box-shadow: 0px 0px 40px 0px rgba(128,128,128,0.1);
  --top-left-radius: 32px;
  --bottom-left-radius: 32px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-3 {
  padding: 10px 21px 9px;
}

.u-section-4 .u-icon-3 {
  width: 40px;
  height: 40px;
  margin: 20px 0 0 auto;
  padding: 0;
}

.u-section-4 .u-text-4 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: -42px 81px 0 auto;
}

.u-section-4 .u-list-item-4 {
  box-shadow: 0px 0px 40px 0px rgba(128,128,128,0.1);
  --top-left-radius: 32px;
  --bottom-left-radius: 32px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-4 {
  padding: 10px 21px 9px;
}

.u-section-4 .u-icon-4 {
  width: 40px;
  height: 40px;
  margin: 20px 0 0 auto;
  padding: 0;
}

.u-section-4 .u-text-5 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: -42px 81px 0 auto;
}

.u-section-4 .u-list-item-5 {
  box-shadow: 0px 0px 40px 0px rgba(128,128,128,0.1);
  --top-left-radius: 32px;
  --bottom-left-radius: 32px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-5 {
  padding: 10px 21px 9px;
}

.u-section-4 .u-icon-5 {
  width: 40px;
  height: 40px;
  margin: 20px 0 0 auto;
  padding: 0;
}

.u-section-4 .u-text-6 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: -42px 81px 0 auto;
}

.u-section-4 .u-list-item-6 {
  box-shadow: 0px 0px 40px 0px rgba(128,128,128,0.1);
  --top-left-radius: 32px;
  --bottom-left-radius: 32px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-6 {
  padding: 10px 21px 9px;
}

.u-section-4 .u-icon-6 {
  width: 40px;
  height: 40px;
  margin: 20px 0 0 auto;
  padding: 0;
}

.u-section-4 .u-text-7 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: -42px 81px 0 auto;
}

@media (max-width: 1399px) {
  .u-section-4 .u-list-item-1 {
    --radius: 10px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 106px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: 60px;
    margin-left: -8px;
  }

  .u-section-4 .u-list-item-2 {
    --radius: 10px;
  }

  .u-section-4 .u-icon-2 {
    margin-top: 0;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-right: 60px;
    margin-bottom: -2px;
    margin-left: -8px;
  }

  .u-section-4 .u-list-item-3 {
    --radius: 10px;
  }

  .u-section-4 .u-icon-3 {
    margin-top: 0;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-right: 60px;
    margin-bottom: -2px;
    margin-left: -8px;
  }

  .u-section-4 .u-list-item-4 {
    --radius: 10px;
  }

  .u-section-4 .u-icon-4 {
    margin-top: 0;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-right: 60px;
    margin-bottom: -2px;
    margin-left: -8px;
  }

  .u-section-4 .u-list-item-5 {
    --radius: 10px;
  }

  .u-section-4 .u-icon-5 {
    margin-top: 0;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-right: 60px;
    margin-bottom: -2px;
    margin-left: -8px;
  }

  .u-section-4 .u-list-item-6 {
    --radius: 10px;
  }

  .u-section-4 .u-icon-6 {
    margin-top: 0;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-right: 60px;
    margin-bottom: -2px;
    margin-left: -8px;
  }
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    width: 940px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 297px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-4 .u-text-2 {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin: 20px 0 0;
  }

  .u-section-4 .u-text-4 {
    margin: 20px 0 0;
  }

  .u-section-4 .u-text-5 {
    margin: 20px 0 0;
  }

  .u-section-4 .u-text-6 {
    margin: 20px 0 0;
  }

  .u-section-4 .u-text-7 {
    margin: 20px 0 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-list-1 {
    width: 720px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-4 .u-text-2 {
    margin-right: 80px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 80px;
    margin-bottom: -2px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 80px;
    margin-bottom: -2px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 80px;
    margin-bottom: -2px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 80px;
    margin-bottom: -2px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 80px;
    margin-bottom: -2px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-list-1 {
    width: 540px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 621px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 55px;
  }

  .u-section-4 .u-list-1 {
    width: 302px;
    margin-top: 40px;
  }

  .u-section-4 .u-list-item-1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-icon-1 {
    width: 26px;
    height: 26px;
    margin-top: 6px;
    margin-right: 29px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
    margin-top: -22px;
    margin-right: 74px;
    margin-left: 55px;
  }

  .u-section-4 .u-list-item-2 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-4 .u-container-layout-2 {
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-icon-2 {
    width: 26px;
    height: 26px;
    margin-top: 6px;
    margin-right: 29px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1rem;
    margin-top: -22px;
    margin-right: 74px;
    margin-left: 55px;
  }

  .u-section-4 .u-list-item-3 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-4 .u-container-layout-3 {
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-icon-3 {
    width: 26px;
    height: 26px;
    margin-top: 6px;
    margin-right: 29px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1rem;
    margin-top: -22px;
    margin-right: 74px;
    margin-left: 55px;
  }

  .u-section-4 .u-list-item-4 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-4 .u-container-layout-4 {
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-icon-4 {
    width: 26px;
    height: 26px;
    margin-top: 6px;
    margin-right: 29px;
  }

  .u-section-4 .u-text-5 {
    font-size: 1rem;
    margin-top: -22px;
    margin-right: 74px;
    margin-left: 55px;
  }

  .u-section-4 .u-list-item-5 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-4 .u-container-layout-5 {
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-icon-5 {
    width: 26px;
    height: 26px;
    margin-top: 6px;
    margin-right: 29px;
  }

  .u-section-4 .u-text-6 {
    font-size: 1rem;
    margin-top: -22px;
    margin-right: 74px;
    margin-left: 55px;
  }

  .u-section-4 .u-list-item-6 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-4 .u-container-layout-6 {
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-icon-6 {
    width: 26px;
    height: 26px;
    margin-top: 6px;
    margin-right: 29px;
  }

  .u-section-4 .u-text-7 {
    font-size: 1rem;
    margin-top: -22px;
    margin-right: 74px;
    margin-left: 55px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 693px;
}

.u-section-5 .u-group-1 {
  width: 1332px;
  min-height: 613px;
  height: auto;
  --radius: 30px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 40px -12px -46px auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 40px 10px 30px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0 24px;
}

.u-section-5 .u-text-2 {
  font-size: 1.5rem;
  margin: 10px 24px 0 auto;
}

.u-section-5 .u-list-1 {
  width: 1294px;
  margin: 55px auto 0;
}

.u-section-5 .u-repeater-1 {
  --gap: 34px;
  grid-auto-columns: calc(25% - 25.5px);
  grid-template-columns: repeat(4, calc(25% - 25.5px));
  min-height: 323px;
  width: 1294px;
  margin-right: auto;
  margin-left: auto;
}

.u-section-5 .u-list-item-1 {
  --radius: 40px;
}

.u-section-5 .u-container-layout-2 {
  padding: 10px;
}

.u-section-5 .u-image-1 {
  width: 273px;
  height: 173px;
  --radius: 50px;
  margin: 42px auto 0;
}

.u-section-5 .u-text-3 {
  font-weight: 400;
  margin: 30px auto 0;
}

.u-section-5 .u-text-4 {
  margin: 10px 26px 0;
}

.u-section-5 .u-list-item-2 {
  --radius: 40px;
}

.u-section-5 .u-container-layout-3 {
  padding: 10px;
}

.u-section-5 .u-image-2 {
  width: 273px;
  height: 173px;
  --radius: 50px;
  margin: 42px auto 0;
}

.u-section-5 .u-text-5 {
  font-weight: 400;
  margin: 30px auto 0;
}

.u-section-5 .u-text-6 {
  margin: 10px 26px 0;
}

.u-section-5 .u-list-item-3 {
  --radius: 40px;
}

.u-section-5 .u-container-layout-4 {
  padding: 10px;
}

.u-section-5 .u-image-3 {
  width: 273px;
  height: 173px;
  --radius: 50px;
  margin: 42px auto 0;
}

.u-section-5 .u-text-7 {
  font-weight: 400;
  margin: 30px auto 0;
}

.u-section-5 .u-text-8 {
  margin: 10px 26px 0;
}

.u-section-5 .u-list-item-4 {
  --radius: 40px;
}

.u-section-5 .u-container-layout-5 {
  padding: 10px;
}

.u-section-5 .u-image-4 {
  width: 273px;
  height: 173px;
  --radius: 50px;
  margin: 42px auto 0;
}

.u-section-5 .u-text-9 {
  font-weight: 400;
  margin: 30px auto 0;
}

.u-section-5 .u-text-10 {
  margin: 10px 26px 0;
}

@media (max-width: 1399px) {
  .u-section-5 .u-sheet-1 {
    min-height: 779px;
  }

  .u-section-5 .u-group-1 {
    width: 1140px;
    min-height: 973px;
    margin-right: 0;
    margin-bottom: 40px;
    height: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 27px;
    padding-right: 27px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-right: 70px;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 11px;
    margin-right: 70px;
  }

  .u-section-5 .u-list-1 {
    width: 1017px;
    margin-top: 54px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(33.3333% - 22.6667px);
    grid-template-columns: repeat(3, calc(33.3333% - 22.6667px));
  }
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    width: 940px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
    margin-left: 639px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-list-1 {
    width: 747px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(25% - 25.5px);
    grid-template-columns: repeat(4, calc(25% - 25.5px));
    min-height: 373px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-group-1 {
    width: 720px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
  }

  .u-section-5 .u-list-1 {
    width: 667px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(50% - 17px);
    grid-template-columns: repeat(2, calc(50% - 17px));
    min-height: 2099px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-group-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-list-1 {
    width: 520px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1821px;
  }

  .u-section-5 .u-group-1 {
    min-height: 1741px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-text-2 {
    font-size: 1rem;
    margin-top: 12px;
    margin-left: 60px;
  }

  .u-section-5 .u-list-1 {
    width: 320px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-5 .u-text-3 {
    font-weight: 700;
  }

  .u-section-5 .u-text-5 {
    font-weight: 700;
  }

  .u-section-5 .u-text-7 {
    font-weight: 700;
  }

  .u-section-5 .u-text-9 {
    font-weight: 700;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 722px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 40px auto 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 400;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 24px auto 0;
}

.u-section-6 .u-list-1 {
  margin-top: 66px;
  margin-bottom: 40px;
}

.u-section-6 .u-repeater-1 {
  --gap: 48px;
  grid-auto-columns: calc(33.3333% - 32px);
  grid-template-columns: repeat(3, calc(33.3333% - 32px));
  min-height: 470px;
}

.u-section-6 .u-list-item-1 {
  box-shadow: 0px 0px 40px 0px rgba(128,128,128,0.1);
  --radius: 20px;
}

.u-section-6 .u-container-layout-1 {
  padding: 10px 28px;
}

.u-section-6 .u-image-1 {
  --radius: 48px;
  height: 216px;
  width: 341px;
  margin: 0 6px;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 16px 0 0;
}

.u-section-6 .u-text-4 {
  line-height: 1.8;
  font-weight: 400;
  font-size: 1.25rem;
  margin: 13px 7px 0;
}

.u-section-6 .u-list-item-2 {
  box-shadow: 0px 0px 40px 0px rgba(128,128,128,0.1);
  --radius: 20px;
}

.u-section-6 .u-container-layout-2 {
  padding: 10px 28px;
}

.u-section-6 .u-image-2 {
  --radius: 48px;
  height: 216px;
  width: 341px;
  margin: 0 6px;
}

.u-section-6 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 16px 0 0;
}

.u-section-6 .u-text-6 {
  line-height: 1.8;
  font-weight: 400;
  font-size: 1.25rem;
  margin: 13px 7px 0;
}

.u-section-6 .u-list-item-3 {
  box-shadow: 0px 0px 40px 0px rgba(128,128,128,0.1);
  --radius: 20px;
}

.u-section-6 .u-container-layout-3 {
  padding: 10px 28px;
}

.u-section-6 .u-image-3 {
  --radius: 48px;
  height: 216px;
  width: 341px;
  margin: 0 6px;
}

.u-section-6 .u-text-7 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 16px 0 0;
}

.u-section-6 .u-text-8 {
  line-height: 1.8;
  font-weight: 400;
  font-size: 1.25rem;
  margin: 13px 7px 0;
}

@media (max-width: 1399px) {
  .u-section-6 .u-sheet-1 {
    min-height: 658px;
  }

  .u-section-6 .u-text-1 {
    margin-top: -157px;
  }

  .u-section-6 .u-list-1 {
    margin-bottom: -157px;
  }

  .u-section-6 .u-repeater-1 {
    --gap: 36px;
    grid-auto-columns: calc(33.3333% - 24px);
    grid-template-columns: repeat(3, calc(33.3333% - 24px));
    min-height: 406px;
  }

  .u-section-6 .u-image-1 {
    width: 294px;
    height: 192px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: 40px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-image-2 {
    width: 294px;
    height: 192px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-5 {
    width: auto;
    margin-top: 40px;
  }

  .u-section-6 .u-text-6 {
    width: auto;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-image-3 {
    width: 294px;
    height: 192px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-7 {
    width: auto;
    margin-top: 40px;
  }

  .u-section-6 .u-text-8 {
    width: auto;
    margin-left: 6px;
    margin-right: 6px;
  }
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 959px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 321px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 32px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 32px));
    min-height: 335px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1166px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 83px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(50% - 24px);
    grid-template-columns: repeat(2, calc(50% - 24px));
    min-height: 770px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1432px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 75px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1480px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 50px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    font-size: 1rem;
    font-weight: 300;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-list-1 {
    margin-bottom: -1515px;
  }

  .u-section-6 .u-repeater-1 {
    --gap: 21px;
    grid-auto-columns: 100%;
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-6 .u-list-item-1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-6 .u-image-1 {
    margin-top: 19px;
  }

  .u-section-6 .u-text-3 {
    font-size: 1.25rem;
    width: 218px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-4 {
    font-size: 1rem;
    width: 237px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-list-item-2 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-6 .u-image-2 {
    margin-top: 19px;
  }

  .u-section-6 .u-text-5 {
    font-size: 1.25rem;
    width: 218px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-6 {
    font-size: 1rem;
    width: 237px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-list-item-3 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-6 .u-image-3 {
    margin-top: 19px;
  }

  .u-section-6 .u-text-7 {
    font-size: 1.25rem;
    width: 218px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-8 {
    font-size: 1rem;
    width: 237px;
    margin-left: auto;
    margin-right: auto;
  }
}